/*  CODIGO DEL LOGO DE MENU PARA RESPONSIVE DESING*/

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5obzce');
    src:  url('../fonts/icomoon.eot?5obzce#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?5obzce') format('truetype'),
      url('../fonts/icomoon.woff?5obzce') format('woff'),
      url('../fonts/icomoon.svg?5obzce#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e900";
  }

/* RESETEO DE ESTILOS DEL BODY  */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* CONTENEDORES DEL BODY */

.container {
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* FORMATOS DE LOS ENCABEZADOS */

h1 {
    font-family: cursive;
    color: white;
    line-height: 40px;
    font-size: 35px;
    margin: 90px 167px 90px 50px;
    z-index: 1;
}

h1 strong {
    color: #FFD089;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 40px;
}

h6 {
    margin: 10px 0;
}

/* ESTILOS DE LA CABECERA Y BARRA DE NAVEGACION */

.header {
    background-color:#FF5757;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero {
    height: 300px;
    background-color: #FF5757;
    /* background-image: url("../images/hero.jpg"); 
    background-repeat: no-repeat;
    background-size: 700px 500px;
    background-position: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: cover;
}

/* .hero_portada {
    width: 450px;
    margin-left: 850px;
    margin-top: -280px;
} */

ol li a {
    text-decoration: none;
    display: flex;
    color: white;
    padding: 0 15px;  
}

ol li {
    list-style: none;
}

ol {
    display: flex;
}

.logo_logo {
    width: 70px;
    margin-top: 12px;
}

.portada {
    width: 400px;
}

/* ESTILO DE PROYECTOS DESTACADOS */

.portfolio {
    background-color: #fafafa;
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 1.5px 1.5px 30px 1px #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project_details {
    width: 50%;
}

.project_imageContainer {
    width: 40%;
}

.project_imageContainer img {
    max-width: 100%;
}

.project_title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project_date, .project_url {
    margin: 10px 0;
}

.project_description {
    font-size: 25px;
}

/* ESTILOS DE LA EXPERIENCIA */

.eventos {
    display: flex;
    flex-wrap: wrap;
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.event_portada {
    width: 480px;
    padding: auto;
    object-fit: cover;
}

.event_detail {
    margin: 20px 40px;
    margin-top: -60px;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    padding: 20px;
}

.event_container {
    margin: 0;
}

.event_url {
    border: 1px solid #FF5757;
    padding: 5px 20px;
    text-decoration: none;
    color: #FF5757;
    border-radius: 5px;
}

.event_text {
    margin-left: 20px;
    text-align: center;
}

.html_video{
    text-align: center;
}
/* ESTILOS DEL PIE DE PÁGINA Y FORMULARIO */

.footer {
    background-color: #FF5757;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_logo {
    width: 50px;
    vertical-align: middle;
}

.footer a {
    color: yellowgreen;
}

.contact {
    background-color: #FF8686;
    color: white;
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form_email input {
    border-color: gray;
    padding: 5px;
    border-radius: 8px;
    border-style: solid;
}

.form_email {
    margin-left: 30px;
}

button {
    padding: 10px;
    cursor: pointer;
}

/* ESTILOS DE LAS REDES SOCIALES */

.social {
    margin-right: 60px;
}

.social_link {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
    margin: 10px;
}

.social_link.twitter {
    background-image: url("../images/twitter.png");
}

.social_link.facebook {
    background-image: url("../images/face.png");
}

.social_link.gitHub {
    background-image: url("../images/git.png");
}

.social_link.instagram {
    background-image: url("../images/insta.png");
}

/*  DANDO ESTILOS AL BOTON DE MENU  */

.burger_button {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
    font-size: 1.2em;
}
